.input {
  background-color: var(--gray-500);
  border: 0;
  border-radius: 0.50rem; /* 8px */
  color: var(--gray-300);
  max-width: 638px;
  padding: 0.75rem 1rem; /* 12px 16px */
  width: 100%;
  line-height: 140%;
  height: 52px;
}


input:focus {
  color: var(--gray-100);
  otline: var(--purple-dark);
}
button.createButton {
  background-color: var(--blue-dark);
  border: 0;
  border-radius: 0.50rem; /* 8px */
  color: var(--white);
  font-weight: 700;
  padding: 0.25rem; /* 4px */
  height: 52px;
  text-align: center;
  width: 100%;
  max-width: 90px;
  margin-left: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button.createButton:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.formNewTask{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}